.App {
  background: center;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
}
.quote-container {
  margin: 0 auto;
  display: flex;
  align-self: center;
  height: 600px;
  justify-content: center;
}
.quote {
  align-self: center;
  margin: 0 auto;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: small;
}
