@app-width: 100%;

.App {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	padding: 0;
	max-width: 1200px;
    width: @app-width;
	height: @app-width * 4 / 5;
	    
}

.quote-container {
	grid-column: 1 / -1;
	grid-row: 2 / 4;
	padding: 12em 4em;
  	display: flex;
    flex-direction: column;
	align-self: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote, .author {
	align-self: center;
	padding: 2em;
	color: white

}

.next-index{

}