.App{
	display: flex;	
	padding: 0;
	max-width: 1200px;
    width: 100%;
	height: auto;
	    
}

.quote-container {
	padding: 12em 4em;
  	display: flex;
    flex-direction: column;
	align-self: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote {
	align-self: center;
	padding: 3em;

}

.next-index{

}